<div class="row">
	<div class="col-md-4">
	<%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>

		
	</div>
	<div class="col-md-8">
		<div class="movie-info">
			<h2 class="movie-title"><%=@movie.title%></h2>
			<h3 class="movie-director"><span>Directed by:</span><%=@movie.director%></h3>
			<h4 class="movie-director"><%=@movie.category.name%></h4>
			<p class="movie-desc"><%=@movie.description%></p>
		</div>
	</div>
</div>
<div class="links btn-group">
<% if user_signed_in? %>
	<% if @movie.user_id == current_user.id %>


	<%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-custom" %>
	<%= link_to "Delete", movie_path(@movie), method: :delete,data: {confirm:"Are you sure?"}, class: "btn btn-custom"  %>
<%end%>
	<%end%>
</div>
